<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTN_Start_Normal</key>
            <dict>
                <key>frame</key>
                <string>{{222,1},{220,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,96}}</string>
                <key>sourceSize</key>
                <string>{220,96}</string>
            </dict>
            <key>BTN_Start_Pressed</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{220,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,96}}</string>
                <key>sourceSize</key>
                <string>{220,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_UI.png</string>
            <key>size</key>
            <string>{443,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:216aa2a7acf7ca6291d58a5dcd0e2951:a04db1337e2a391c7907b3027537f8a5:351b7f3b894bf0c0f194f9cd1d6ea2e2$</string>
            <key>textureFileName</key>
            <string>TEX_UI.png</string>
        </dict>
    </dict>
</plist>
