<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GRP_Build01</key>
            <dict>
                <key>frame</key>
                <string>{{3364,531},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>GRP_Life01</key>
            <dict>
                <key>frame</key>
                <string>{{2423,374},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>GRP_World01_Come01</key>
            <dict>
                <key>frame</key>
                <string>{{3968,1},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>GRP_World01_Come02</key>
            <dict>
                <key>frame</key>
                <string>{{3846,178},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>GRP_World01_Creek01</key>
            <dict>
                <key>frame</key>
                <string>{{3702,697},{189,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,182}}</string>
                <key>sourceSize</key>
                <string>{189,182}</string>
            </dict>
            <key>GRP_World01_Creek02</key>
            <dict>
                <key>frame</key>
                <string>{{3476,329},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>GRP_World01_Creek03</key>
            <dict>
                <key>frame</key>
                <string>{{3418,1},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>GRP_World01_Creek04</key>
            <dict>
                <key>frame</key>
                <string>{{3286,340},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>GRP_World01_Creek05</key>
            <dict>
                <key>frame</key>
                <string>{{3512,702},{189,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,182}}</string>
                <key>sourceSize</key>
                <string>{189,182}</string>
            </dict>
            <key>GRP_World01_Damage01</key>
            <dict>
                <key>frame</key>
                <string>{{2905,720},{119,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,142}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>GRP_World01_Damage02</key>
            <dict>
                <key>frame</key>
                <string>{{3418,192},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>GRP_World01_Damage03</key>
            <dict>
                <key>frame</key>
                <string>{{3129,566},{124,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,138}}</string>
                <key>sourceSize</key>
                <string>{124,138}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding00</key>
            <dict>
                <key>frame</key>
                <string>{{744,567},{169,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,268}}</string>
                <key>sourceSize</key>
                <string>{169,268}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01</key>
            <dict>
                <key>frame</key>
                <string>{{2292,398},{130,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,56}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01_Tx</key>
            <dict>
                <key>frame</key>
                <string>{{2091,398},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01_Tx00</key>
            <dict>
                <key>frame</key>
                <string>{{16,855},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02</key>
            <dict>
                <key>frame</key>
                <string>{{3992,572},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx0</key>
            <dict>
                <key>frame</key>
                <string>{{1,855},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx01</key>
            <dict>
                <key>frame</key>
                <string>{{3968,120},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx02</key>
            <dict>
                <key>frame</key>
                <string>{{547,836},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx03</key>
            <dict>
                <key>frame</key>
                <string>{{2478,827},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx04</key>
            <dict>
                <key>frame</key>
                <string>{{3558,192},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding03</key>
            <dict>
                <key>frame</key>
                <string>{{2162,398},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding03_Tx</key>
            <dict>
                <key>frame</key>
                <string>{{2233,398},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>GRP_World01_Ding_Fire</key>
            <dict>
                <key>frame</key>
                <string>{{720,836},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>GRP_World01_Ding_Flash</key>
            <dict>
                <key>frame</key>
                <string>{{770,836},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>GRP_World01_Floor01</key>
            <dict>
                <key>frame</key>
                <string>{{914,490},{1162,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1162,394}}</string>
                <key>sourceSize</key>
                <string>{1162,394}</string>
            </dict>
            <key>GRP_World01_Flower01</key>
            <dict>
                <key>frame</key>
                <string>{{490,836},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>GRP_World01_Flower02</key>
            <dict>
                <key>frame</key>
                <string>{{600,836},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>GRP_World01_Grass01</key>
            <dict>
                <key>frame</key>
                <string>{{3690,178},{133,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,121}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>GRP_World01_Grass02</key>
            <dict>
                <key>frame</key>
                <string>{{2542,374},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>GRP_World01_House1</key>
            <dict>
                <key>frame</key>
                <string>{{298,1},{560,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,565}}</string>
                <key>sourceSize</key>
                <string>{560,565}</string>
            </dict>
            <key>GRP_World01_Landscape01</key>
            <dict>
                <key>frame</key>
                <string>{{859,1},{877,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,488}}</string>
                <key>sourceSize</key>
                <string>{877,488}</string>
            </dict>
            <key>GRP_World01_Landscape02</key>
            <dict>
                <key>frame</key>
                <string>{{2295,1},{792,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,372}}</string>
                <key>sourceSize</key>
                <string>{792,372}</string>
            </dict>
            <key>GRP_World01_Landscape03</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{296,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,567}}</string>
                <key>sourceSize</key>
                <string>{296,567}</string>
            </dict>
            <key>GRP_World01_Road01</key>
            <dict>
                <key>frame</key>
                <string>{{3719,497},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>GRP_World01_Road02</key>
            <dict>
                <key>frame</key>
                <string>{{3608,1},{183,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>GRP_World01_Road03</key>
            <dict>
                <key>frame</key>
                <string>{{3666,320},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>GRP_World01_Road04</key>
            <dict>
                <key>frame</key>
                <string>{{3894,395},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>GRP_World01_Road05</key>
            <dict>
                <key>frame</key>
                <string>{{3792,1},{175,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,176}}</string>
                <key>sourceSize</key>
                <string>{175,176}</string>
            </dict>
            <key>GRP_World01_Road06</key>
            <dict>
                <key>frame</key>
                <string>{{3143,705},{184,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,176}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>GRP_World01_Road07</key>
            <dict>
                <key>frame</key>
                <string>{{3535,520},{183,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>GRP_World01_Road08</key>
            <dict>
                <key>frame</key>
                <string>{{3328,705},{183,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>GRP_World01_Stones01</key>
            <dict>
                <key>frame</key>
                <string>{{3254,566},{109,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
            <key>GRP_World01_Stones02</key>
            <dict>
                <key>frame</key>
                <string>{{2478,461},{192,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,365}}</string>
                <key>sourceSize</key>
                <string>{192,365}</string>
            </dict>
            <key>GRP_World01_Stones03</key>
            <dict>
                <key>frame</key>
                <string>{{3892,674},{99,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,119}}</string>
                <key>sourceSize</key>
                <string>{99,119}</string>
            </dict>
            <key>GRP_World01_Stones04</key>
            <dict>
                <key>frame</key>
                <string>{{2091,1},{203,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,396}}</string>
                <key>sourceSize</key>
                <string>{203,396}</string>
            </dict>
            <key>GRP_World01_Stones05</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1},{353,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,476}}</string>
                <key>sourceSize</key>
                <string>{353,476}</string>
            </dict>
            <key>GRP_World01_Stones06</key>
            <dict>
                <key>frame</key>
                <string>{{659,836},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>GRP_World01_Stones07</key>
            <dict>
                <key>frame</key>
                <string>{{3025,720},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>GRP_World01_Stones08</key>
            <dict>
                <key>frame</key>
                <string>{{2671,374},{457,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,345}}</string>
                <key>sourceSize</key>
                <string>{457,345}</string>
            </dict>
            <key>GRP_World01_Stones09</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{488,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,285}}</string>
                <key>sourceSize</key>
                <string>{488,285}</string>
            </dict>
            <key>GRP_World01_Tree01</key>
            <dict>
                <key>frame</key>
                <string>{{490,567},{253,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,268}}</string>
                <key>sourceSize</key>
                <string>{253,268}</string>
            </dict>
            <key>GRP_World01_Tree02</key>
            <dict>
                <key>frame</key>
                <string>{{3088,1},{329,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,338}}</string>
                <key>sourceSize</key>
                <string>{329,338}</string>
            </dict>
            <key>GRP_World01_Tree03</key>
            <dict>
                <key>frame</key>
                <string>{{3129,340},{156,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,225}}</string>
                <key>sourceSize</key>
                <string>{156,225}</string>
            </dict>
            <key>GRP_World01_Tree04</key>
            <dict>
                <key>frame</key>
                <string>{{2077,478},{400,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,397}}</string>
                <key>sourceSize</key>
                <string>{400,397}</string>
            </dict>
            <key>GRP_World01_Tree05</key>
            <dict>
                <key>frame</key>
                <string>{{2671,720},{233,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,143}}</string>
                <key>sourceSize</key>
                <string>{233,143}</string>
            </dict>
            <key>GRP_World01_Tree06</key>
            <dict>
                <key>frame</key>
                <string>{{3846,284},{219,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,110}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_Points.png</string>
            <key>size</key>
            <string>{4095,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99376e64150d096d379b72bdbd80581:9d42a30633d6168e6126f061c3e19720:ce65fe71c1cd3085195fb6b7e9ddaa98$</string>
            <key>textureFileName</key>
            <string>TEX_Points.png</string>
        </dict>
    </dict>
</plist>
