<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MAP_BigMap_1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1082,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,722}}</string>
                <key>sourceSize</key>
                <string>{1082,722}</string>
            </dict>
            <key>MAP_BigMap_1_Temple</key>
            <dict>
                <key>frame</key>
                <string>{{1084,282},{195,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,189}}</string>
                <key>sourceSize</key>
                <string>{195,189}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud01</key>
            <dict>
                <key>frame</key>
                <string>{{1280,282},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud02</key>
            <dict>
                <key>frame</key>
                <string>{{1294,187},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>MAP_BigMap_Cloud</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1},{285,185}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,185}}</string>
                <key>sourceSize</key>
                <string>{285,209}</string>
            </dict>
            <key>MAP_BigMap_Cloud02</key>
            <dict>
                <key>frame</key>
                <string>{{1084,187},{209,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,94}}</string>
                <key>sourceSize</key>
                <string>{209,94}</string>
            </dict>
            <key>MAP_BigMap_Iand01</key>
            <dict>
                <key>frame</key>
                <string>{{1084,472},{155,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,229}}</string>
                <key>sourceSize</key>
                <string>{155,229}</string>
            </dict>
            <key>MAP_BigMap_Iand02</key>
            <dict>
                <key>frame</key>
                <string>{{1240,603},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>PAT_spark_2</key>
            <dict>
                <key>frame</key>
                <string>{{1240,472},{128,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_BigMap.png</string>
            <key>size</key>
            <string>{1379,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7587377ef6f9c25b96e44d8afbd6bb18:d211eab4b36d2c21c6a5e1af8d787188:baba1184bef0e49540444e991dac076d$</string>
            <key>textureFileName</key>
            <string>TEX_BigMap.png</string>
        </dict>
    </dict>
</plist>
