.DS_Store
.idea/
Squaring_APK
Squaring_IPA
_AssetsLibrary/Assets_Standard/Assets/Assets/CCBI/
_AssetsLibrary/Assets_Standard/Assets/Assets/HD/
_AssetsLibrary/Assets_Standard/Assets/Assets/HDR/
_AssetsLibrary/Assets_Standard/Assets/Assets/SD/
_AssetsLibrary/Assets_Standard/_CCBProject/Assets/CCBI/.DS_Store
.idea/workspace.xml

.DS_Store
/Docs
/TowerDef_IPA
/TowerDef_APK
/proj.html5/.idea/workspace.xml
/proj.html5/.idea/dictionaries/leadprogrammer.xml
/proj.html5/.idea/inspectionProfiles/
/proj.ios/TD.xcworkspace/xcuserdata/leadprogrammer.xcuserdatad/
/proj.ios/TD.xcworkspace/xcuserdata/meyougamesp2.xcuserdatad/
/proj.ios/TD.xcworkspace/xcshareddata/TD.xccheckout
UserInterfaceState.xcuserstate
/proj.android/proj.standard/assets
/proj.android/proj.standard/bin
/proj.android/proj.standard/obj
/proj.android/proj.standard/gen
/_AssetsLibrary/Assets_Standard/Assets/Assets/CCBI
/_AssetsLibrary/Assets_Standard/Assets/Assets/HDR
/_AssetsLibrary/Assets_Standard/Assets/Assets/HD
/_AssetsLibrary/Assets_Standard/Assets/Assets/SD
/Scripts/jsc_bindings
/Scripts/jsc_game
/proj.android/proj.standard/libs/armeabi/libcocos2djs.so
~$*
*.xcbkptlist
*.xcuserdatad
proj.ios/TD.xcodeproj/project.xcworkspace/xcshareddata
.idea
proj.html5/.idea/vcs.xml
proj.html5/.idea/jsLibraryMappings.xml