.DS_Store
.idea/
Squaring_APK
Squaring_IPA
_AssetsLibrary/Assets_Standard/Assets/Assets/CCBI/
_AssetsLibrary/Assets_Standard/Assets/Assets/HD/
_AssetsLibrary/Assets_Standard/Assets/Assets/HDR/
_AssetsLibrary/Assets_Standard/Assets/Assets/SD/
_AssetsLibrary/Assets_Standard/_CCBProject/Assets/CCBI/.DS_Store
.idea/workspace.xml