# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
._.*
*.classes

xcuserdata/
DerivedData/
/PlatformService/Plugin-X/plugins/admob/proj.android/bin/
/PlatformService/Plugin-X/plugins/admob/proj.android/gen/
/PlatformService/Plugin-X/plugins/admob/proj.android/local.properties
/PlatformService/Plugin-X/plugins/alipay/proj.android/bin/
/PlatformService/Plugin-X/plugins/alipay/proj.android/gen/
/PlatformService/Plugin-X/plugins/alipay/proj.android/local.properties
/PlatformService/Plugin-X/plugins/flurry/proj.android/bin/
/PlatformService/Plugin-X/plugins/flurry/proj.android/gen/
/PlatformService/Plugin-X/plugins/flurry/proj.android/local.properties
/PlatformService/Plugin-X/plugins/nd91/proj.android/bin/
/PlatformService/Plugin-X/plugins/nd91/proj.android/gen/
/PlatformService/Plugin-X/plugins/nd91/proj.android/local.properties
/PlatformService/Plugin-X/plugins/twitter/proj.android/bin/
/PlatformService/Plugin-X/plugins/twitter/proj.android/gen/
/PlatformService/Plugin-X/plugins/twitter/proj.android/local.properties
/PlatformService/Plugin-X/plugins/umeng/proj.android/bin/
/PlatformService/Plugin-X/plugins/umeng/proj.android/gen/
/PlatformService/Plugin-X/plugins/umeng/proj.android/local.properties
/PlatformService/Plugin-X/plugins/weibo/proj.android/bin/
/PlatformService/Plugin-X/plugins/weibo/proj.android/gen/
/PlatformService/Plugin-X/plugins/weibo/proj.android/local.properties
/PlatformService/Plugin-X/protocols/proj.android/bin/
/PlatformService/Plugin-X/protocols/proj.android/gen/
/PlatformService/Plugin-X/protocols/proj.android/local.properties
/PlatformService/Plugin-X/protocols/proj.android/obj/

/PlatformService/Plugin-X/samples/HelloAnalytics/proj.android/assets/
/PlatformService/Plugin-X/samples/HelloAnalytics/proj.android/bin/
/PlatformService/Plugin-X/samples/HelloAnalytics/proj.android/gen/
/PlatformService/Plugin-X/samples/HelloAnalytics/proj.android/local.properties
/PlatformService/Plugin-X/tools/toolsForPublish/environment.sh

/PlatformService/TalkingData/SDK/proj.android/bin/
/PlatformService/TalkingData/SDK/proj.android/gen/
/PlatformService/TalkingData/SDK/sample