<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MAP_BigMap_1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{272,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,182}}</string>
                <key>sourceSize</key>
                <string>{272,182}</string>
            </dict>
            <key>MAP_BigMap_1_Temple</key>
            <dict>
                <key>frame</key>
                <string>{{274,70},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud01</key>
            <dict>
                <key>frame</key>
                <string>{{325,70},{26,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,11}}</string>
                <key>sourceSize</key>
                <string>{26,11}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud02</key>
            <dict>
                <key>frame</key>
                <string>{{329,44},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>MAP_BigMap_Cloud</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{73,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,42}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>MAP_BigMap_Cloud02</key>
            <dict>
                <key>frame</key>
                <string>{{274,44},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>MAP_BigMap_Iand01</key>
            <dict>
                <key>frame</key>
                <string>{{274,120},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>MAP_BigMap_Iand02</key>
            <dict>
                <key>frame</key>
                <string>{{315,155},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>PAT_spark_2</key>
            <dict>
                <key>frame</key>
                <string>{{315,120},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_BigMap.png</string>
            <key>size</key>
            <string>{352,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7587377ef6f9c25b96e44d8afbd6bb18:d211eab4b36d2c21c6a5e1af8d787188:baba1184bef0e49540444e991dac076d$</string>
            <key>textureFileName</key>
            <string>TEX_BigMap.png</string>
        </dict>
    </dict>
</plist>
