lib
/web.config
.idea
build
aspnet_client
node_modules

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
# *.xcscheme
*.xcuserstate
# xcschememanagement.plist
build/
.DS_Store
._.*
xcuserdata/
DerivedData/