<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BMF_CH01_36</key>
            <dict>
                <key>frame</key>
                <string>{{643,707},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BMF_CH01_72</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{448,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,384}}</string>
                <key>sourceSize</key>
                <string>{448,384}</string>
            </dict>
            <key>BMF_CH02_52</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BMF_CH02_64</key>
            <dict>
                <key>frame</key>
                <string>{{386,707},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BMF_CH02_72</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>BMF_CH02_72_01</key>
            <dict>
                <key>frame</key>
                <string>{{450,1},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>BMF_Test</key>
            <dict>
                <key>frame</key>
                <string>{{386,386},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BMF.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bf918efdf9a83a4cdd3516c89be6158:1d56bcd581a7fa02f0d86f890c2faf2d:558940b1752ca7eea05ad5db367ba72f$</string>
            <key>textureFileName</key>
            <string>BMF.png</string>
        </dict>
    </dict>
</plist>
