<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GRP_Build01</key>
            <dict>
                <key>frame</key>
                <string>{{996,401},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>GRP_Life01</key>
            <dict>
                <key>frame</key>
                <string>{{1180,446},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>GRP_World01_Come01</key>
            <dict>
                <key>frame</key>
                <string>{{165,446},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>GRP_World01_Come02</key>
            <dict>
                <key>frame</key>
                <string>{{349,446},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>GRP_World01_Creek01</key>
            <dict>
                <key>frame</key>
                <string>{{539,401},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>GRP_World01_Creek02</key>
            <dict>
                <key>frame</key>
                <string>{{442,401},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>GRP_World01_Creek03</key>
            <dict>
                <key>frame</key>
                <string>{{1083,383},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>GRP_World01_Creek04</key>
            <dict>
                <key>frame</key>
                <string>{{1076,286},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>GRP_World01_Creek05</key>
            <dict>
                <key>frame</key>
                <string>{{1263,287},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>GRP_World01_Damage01</key>
            <dict>
                <key>frame</key>
                <string>{{1756,361},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>GRP_World01_Damage02</key>
            <dict>
                <key>frame</key>
                <string>{{1180,376},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>GRP_World01_Damage03</key>
            <dict>
                <key>frame</key>
                <string>{{1346,380},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding00</key>
            <dict>
                <key>frame</key>
                <string>{{805,334},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01</key>
            <dict>
                <key>frame</key>
                <string>{{805,470},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01_Tx</key>
            <dict>
                <key>frame</key>
                <string>{{404,446},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding01_Tx00</key>
            <dict>
                <key>frame</key>
                <string>{{584,189},{17,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,8}}</string>
                <key>sourceSize</key>
                <string>{17,8}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02</key>
            <dict>
                <key>frame</key>
                <string>{{1360,287},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx0</key>
            <dict>
                <key>frame</key>
                <string>{{1241,446},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx01</key>
            <dict>
                <key>frame</key>
                <string>{{290,446},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx02</key>
            <dict>
                <key>frame</key>
                <string>{{404,483},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx03</key>
            <dict>
                <key>frame</key>
                <string>{{1083,480},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding02_Tx04</key>
            <dict>
                <key>frame</key>
                <string>{{226,446},{63,55}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{63,55}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding03</key>
            <dict>
                <key>frame</key>
                <string>{{1360,342},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>GRP_World01_Ding/GRP_World01_Ding03_Tx</key>
            <dict>
                <key>frame</key>
                <string>{{1687,312},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>GRP_World01_Ding_Fire</key>
            <dict>
                <key>frame</key>
                <string>{{904,486},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>GRP_World01_Ding_Flash</key>
            <dict>
                <key>frame</key>
                <string>{{931,486},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>GRP_World01_Floor01</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{582,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,198}}</string>
                <key>sourceSize</key>
                <string>{582,198}</string>
            </dict>
            <key>GRP_World01_Flower01</key>
            <dict>
                <key>frame</key>
                <string>{{1122,480},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>GRP_World01_Flower02</key>
            <dict>
                <key>frame</key>
                <string>{{1653,402},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>GRP_World01_Grass01</key>
            <dict>
                <key>frame</key>
                <string>{{1687,361},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>GRP_World01_Grass02</key>
            <dict>
                <key>frame</key>
                <string>{{1346,451},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>GRP_World01_House1</key>
            <dict>
                <key>frame</key>
                <string>{{982,1},{281,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,284}}</string>
                <key>sourceSize</key>
                <string>{281,284}</string>
            </dict>
            <key>GRP_World01_Landscape01</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{440,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,245}}</string>
                <key>sourceSize</key>
                <string>{440,245}</string>
            </dict>
            <key>GRP_World01_Landscape02</key>
            <dict>
                <key>frame</key>
                <string>{{584,1},{397,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,187}}</string>
                <key>sourceSize</key>
                <string>{397,187}</string>
            </dict>
            <key>GRP_World01_Landscape03</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1},{149,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,285}}</string>
                <key>sourceSize</key>
                <string>{149,285}</string>
            </dict>
            <key>GRP_World01_Road01</key>
            <dict>
                <key>frame</key>
                <string>{{1504,315},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>GRP_World01_Road02</key>
            <dict>
                <key>frame</key>
                <string>{{1410,405},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>GRP_World01_Road03</key>
            <dict>
                <key>frame</key>
                <string>{{890,189},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>GRP_World01_Road04</key>
            <dict>
                <key>frame</key>
                <string>{{1504,405},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>GRP_World01_Road05</key>
            <dict>
                <key>frame</key>
                <string>{{1173,286},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>GRP_World01_Road06</key>
            <dict>
                <key>frame</key>
                <string>{{1593,312},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>GRP_World01_Road07</key>
            <dict>
                <key>frame</key>
                <string>{{1410,315},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>GRP_World01_Road08</key>
            <dict>
                <key>frame</key>
                <string>{{1252,380},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>GRP_World01_Stones01</key>
            <dict>
                <key>frame</key>
                <string>{{1533,241},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>GRP_World01_Stones02</key>
            <dict>
                <key>frame</key>
                <string>{{1722,176},{97,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,184}}</string>
                <key>sourceSize</key>
                <string>{97,184}</string>
            </dict>
            <key>GRP_World01_Stones03</key>
            <dict>
                <key>frame</key>
                <string>{{113,446},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>GRP_World01_Stones04</key>
            <dict>
                <key>frame</key>
                <string>{{892,286},{103,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,199}}</string>
                <key>sourceSize</key>
                <string>{103,199}</string>
            </dict>
            <key>GRP_World01_Stones05</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1},{178,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,239}}</string>
                <key>sourceSize</key>
                <string>{178,239}</string>
            </dict>
            <key>GRP_World01_Stones06</key>
            <dict>
                <key>frame</key>
                <string>{{872,486},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>GRP_World01_Stones07</key>
            <dict>
                <key>frame</key>
                <string>{{1592,405},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>GRP_World01_Stones08</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1},{230,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,174}}</string>
                <key>sourceSize</key>
                <string>{230,174}</string>
            </dict>
            <key>GRP_World01_Stones09</key>
            <dict>
                <key>frame</key>
                <string>{{644,189},{245,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,144}}</string>
                <key>sourceSize</key>
                <string>{245,144}</string>
            </dict>
            <key>GRP_World01_Tree01</key>
            <dict>
                <key>frame</key>
                <string>{{1593,176},{128,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,135}}</string>
                <key>sourceSize</key>
                <string>{128,135}</string>
            </dict>
            <key>GRP_World01_Tree02</key>
            <dict>
                <key>frame</key>
                <string>{{644,334},{160,170}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>GRP_World01_Tree03</key>
            <dict>
                <key>frame</key>
                <string>{{996,286},{79,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,114}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>GRP_World01_Tree04</key>
            <dict>
                <key>frame</key>
                <string>{{442,200},{201,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,200}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>GRP_World01_Tree05</key>
            <dict>
                <key>frame</key>
                <string>{{1414,241},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>GRP_World01_Tree06</key>
            <dict>
                <key>frame</key>
                <string>{{1,446},{111,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_Points.png</string>
            <key>size</key>
            <string>{1824,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99376e64150d096d379b72bdbd80581:9d42a30633d6168e6126f061c3e19720:ce65fe71c1cd3085195fb6b7e9ddaa98$</string>
            <key>textureFileName</key>
            <string>TEX_Points.png</string>
        </dict>
    </dict>
</plist>
