<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MAP_BigMap_1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{542,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,362}}</string>
                <key>sourceSize</key>
                <string>{542,362}</string>
            </dict>
            <key>MAP_BigMap_1_Temple</key>
            <dict>
                <key>frame</key>
                <string>{{544,131},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud01</key>
            <dict>
                <key>frame</key>
                <string>{{644,131},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>MAP_BigMap_1_TempleCloud02</key>
            <dict>
                <key>frame</key>
                <string>{{651,82},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>MAP_BigMap_Cloud</key>
            <dict>
                <key>frame</key>
                <string>{{544,1},{144,80}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,106}</string>
            </dict>
            <key>MAP_BigMap_Cloud02</key>
            <dict>
                <key>frame</key>
                <string>{{544,82},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>MAP_BigMap_Iand01</key>
            <dict>
                <key>frame</key>
                <string>{{544,228},{79,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,116}}</string>
                <key>sourceSize</key>
                <string>{79,116}</string>
            </dict>
            <key>MAP_BigMap_Iand02</key>
            <dict>
                <key>frame</key>
                <string>{{624,295},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PAT_spark_2</key>
            <dict>
                <key>frame</key>
                <string>{{624,228},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEX_BigMap.png</string>
            <key>size</key>
            <string>{695,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7587377ef6f9c25b96e44d8afbd6bb18:d211eab4b36d2c21c6a5e1af8d787188:baba1184bef0e49540444e991dac076d$</string>
            <key>textureFileName</key>
            <string>TEX_BigMap.png</string>
        </dict>
    </dict>
</plist>
